@media (min-width: 1180px) {
  .films__list_item:last-child {
    padding-right: 0;
    margin-right: 0; }
  .geners__list_item:last-child {
    margin-right: 0; } }

@media (max-width: 1200px) {
  .wrapper {
    max-width: 900px;
    margin: 0 auto; }
  .films {
    width: 100%;
    height: 960px; }
  .tv__container_list {
    width: 100%; }
    .tv__container_list .logo {
      width: 180px; }
  .footer__container {
    max-width: 700px;
    margin: 0 auto; }
  .footer__list {
    width: 80%; } }

@media (max-width: 920px) {
  .wrapper {
    max-width: 720px;
    margin: 0 auto; } }

@media (max-width: 720px) {
  header {
    height: 120px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center; }
    header li {
      margin: 0 auto 10px auto; }
  .tabs {
    padding-top: 20px; }
    .tabs:last-cild {
      margin-right: 0; }
    .tabs li {
      width: 70%;
      margin: 5px auto 10px auto; }
  .films {
    width: 100%;
    height: 1850px; }
  .films__header {
    text-align: center; }
  .films__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap; }
    .films__list:last-child {
      margin: 10px auto 20px auto; }
  .films__list_item {
    margin: 10px auto 20px auto; }
  .strip {
    margin-right: 20px; }
  .strip {
    margin: 10px auto 20px auto; }
  .geners {
    display: flex;
    flex-direction: column;
    height: 1000px; }
  .geners__header {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .geners__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap; }
  .geners__list_item {
    margin: 10px auto 20px auto; }
  .tv__container_list {
    width: 100%; }
    .tv__container_list .logo {
      width: 100%;
      height: 100px; }
  .tv__container_list_item {
    height: 300px; }
  .tv-list-program__name {
    width: 70%; }
  footer {
    height: 120px; }
  .footer__container {
    padding: 0 10px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto; }
    .footer__container img {
      margin-bottom: 10px; } }
